@model IEnumerable<GalleryMVC_With_Auth.Domain.Entities.Picture>
@{
    ViewBag.Title = "Живопись";
}

<h2>@ViewBag.Title</h2>


<div class="grid">
    @foreach (var p in Model)
    {
        <figure class="effect-milo">
            <img src="@p.Path" alt="@p.Category" />
            <figcaption>
                <h2><span>@p.Category</span></h2>
                <p style="color: red">Автор - @p.Name.</p>
                <p style="color: red">Цена - @p.Price$!</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
    }
</div>