@model IEnumerable<GalleryMVC_With_Auth.Domain.Entities.Picture>
@{
    ViewBag.Title = "Живопись";
}

<h2>@ViewBag.Title</h2>


<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

@*<div class="grid">
    @foreach (var p in Model)
    {
        <figure class="effect-milo">
            <img src="@p.Path" alt="@p.Category"/>
            <figcaption>
                <h2><span>@p.Category</span></h2>
                <p style="color: red">Автор - @p.Name.</p>
                <p style="color: red">Цена - @p.Price$!</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
    }
</div>*@
<div class="grid">
    <div id="links">
        @foreach (var p in Model)
        {
            <figure class="effect-milo">
                <img src="@p.Path" alt="@p.Category" />
                <figcaption>
                    <h2><span>@p.Category</span></h2>
                    <p style="color: red">Автор - @p.Name.</p>
                    <p style="color: red">Цена - @p.Price$!</p>
                    <a href="@p.Path" title="@p.Name" ></a>
                </figcaption>
            </figure>
        }
</div>
</div>

@*<div id="links">
    @foreach (var p in Model)
{
    <a href="@p.Path" title="@p.Name">
        <img src="@p.Path" alt="@p.Tag" style="width: 250px; height: 250px; margin-right: 2.5px; margin-bottom: 5px;"/>
    </a>
}
</div>*@