@using GalleryMVC_With_Auth.Domain.Entities
@model GalleryMVC_With_Auth.Domain.Abstract.IPicturesRepository

@{
    ViewBag.Title = "Upload";
    List<Album> a = ViewBag.alb as List<Album>;
}

<h2>Upload</h2>

@using (Html.BeginForm("Upload", "AdminPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="files" id="files" style="width: 100%;" multiple="multiple" accept="image/*"/><p />
    <h5>Name</h5>
    @Html.TextBox("name")<p />
    <h5>Desctiption</h5>
    @Html.TextBox("desc")<p />
    <h5>Tag</h5>
    @Html.TextBox("tag")<p />
    <h5>Price</h5>
    @Html.TextBox("prc", null, new { type = "number" })<p />
    @*@Html.DropDownList("Albums", new List<SelectListItem> { new SelectListItem { Text = "Акварель", Value = "akvarel" }, new SelectListItem { Text = "Батик", Value = "batik" }, new SelectListItem { Text = "Пастель", Value = "pastel" }, new SelectListItem { Text = "Живопись", Value = "zivopis" } })*@
    @Html.DropDownListFor(m=>m.Albums,new SelectList(a,"AlbId","Name",a.First().AlbId))
    <button type="submit" class="btn btn-default">Применить</button>
    }
