

@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

@using (Html.BeginForm("Upload", "AdminPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" id="file" style="width: 100%;" /><p />
    <h5>Name</h5>
    @Html.TextBox("name")<p />
    <h5>Desctiption</h5>
    @Html.TextBox("desc")<p />
    <h5>Tag</h5>
    @Html.TextBox("tag")<p />
    <h5>Price</h5>
    @Html.TextBox("prc", null, new { type = "number" })<p />
    @Html.DropDownList("album", new List<SelectListItem> { new SelectListItem { Text = "Акварель", Value = "akvarel" }, new SelectListItem { Text = "Батик", Value = "batik" }, new SelectListItem { Text = "Пастель", Value = "pastel" }, new SelectListItem { Text = "Живопись", Value = "zivopis" } })
    <button type="submit" class="btn btn-default">Применить</button>
    }
