<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<div class="grid">
    <div id="links">
        @foreach (var picture in Model)
        {
            <figure class="effect-milo">
                <img class="lazy" data-original="@picture.TmbPath" alt="@picture.Category"/>
                <figcaption>
                    <h2>
                        <span>@picture.Category</span></h2>
                    <p style="color: red">Автор - @picture.Name.</p>
                    <p style="color: red">Тэг - @picture.Tag</p>
                    <p style="color: red">Цена - @picture.Price бел.руб.</p>
                    <a href="@picture.Path" title="@picture.Name"></a>
                </figcaption>
            </figure>
        }
    </div>
</div>

<script>
    $(function() {
        $("img.lazy").lazyload({
            effect: "fadeIn"
        });
    });
</script>