@using GalleryMVC_With_Auth.Domain.Entities
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<div class="grid">
    <div id="links">
        @foreach (Picture picture in Model)
        {
            <figure class="effect-milo">
                <img class="lazy" data-original="@picture.TmbPath" alt="@picture.Category"/>
                <figcaption>
                    <h2>
                        <span>@picture.Category</span></h2>
                    <p style="color: red">Автор - @picture.Name.</p>
                    <p style="color: red">Тэг - @picture.Tag.Name</p>
                    <p style="color: red">Цена - @picture.Price бел.руб.</p>
                    <a class="pic" id="links" href="@picture.Path" title="@picture.Name"></a>
                </figcaption>
            </figure>
            <a style="margin: 10px" href="@Url.Action("Comments", "Images", new {@picture.Id})" onclick="location.href = '@Url.Action("Comments", "Images", new {@picture.Id})'">Комментарии</a>
            @*@Html.ActionLink("comments", "Comments", "Images", new {picture.Id}, new {@class = "comment", onclick= "window.open(url)" })*@
            
        }
    </div>
</div>
<script>
    $(function() {
        $("img.lazy").lazyload({
            effect: "fadeIn"
        });
    });
</script>