@using GalleryMVC_With_Auth.Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='yandex-verification' content='5f6e3bf559dea11f'/>
    <meta name="keywords" content="Художественная галерея Беларт, Художественная галерея Брест, галерея Брест, галерея Беларт Брест, купить, картину, живопись, натюрморт, графика, акварель, офорт, литография, линогравюра, 
батик, керамика, произведения, декоративно-прикладное искусство, багетная, мастерская, рамка">
    <meta name="description" content="Художественная галерея Беларт. Купить картину в Бресте. Купить картину, живопись, натюрморт, графику, акварель, офорт, 
литографию, линогравюру, батик, керамику, произведения декоративно-прикладного искусства. Багетная мастерская. Багетные рамки. Деревянный и пластиковый 
багет.">
    <!-- FB -->
    <meta property="og:title" content="БелАрт галерея Брест"/>
    <meta property="og:url" content="http://belart-brest.by/"/>
    <meta property="og:image" content=""/>
    <meta property="og:description" content="Галерея БелАрт в Бресте"/>
    <meta property="og:site_name" content="http://belart-brest.by/"/>
    <!-- FB End-->

    <!-- VK -->
    <meta property="vk:title" content="БелАрт галерея Брест"/>
    <meta property="vk:url" content="http://belart-brest.by/"/>
    <meta property="vk:image" content=""/>
    <meta property="vk:description" content="Галерея БелАрт в Бресте"/>
    <!-- VK End -->

    <title>Галерея БелАрт Брест</title>


    @Styles.RenderFormat(@"<link href="" {0}"" lazyload rel=""stylesheet"">", "~/Content/styles")
    @Scripts.RenderFormat(@"<script src="" {0}"" async></script>", "~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/bundles/reactJS")
</head>
<body id="home">
<div class="navbar navbar-inverse navbar-fixed-top navbar-transparent">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("BA", "Tests", Defines.HomeControllerName, null, new {@class = "navbar-brand logotypeM", style = "color: white"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @*<li>@Html.ActionLink("Главная", "Tests", new {controller = Defines.HomeControllerName}, new {@class = "home"})</li>*@
                <li><a href="#home" class = "home smoothScroll">Главная</a></li>
                @*<li>@Html.ActionLink("О нас", "About", new {controller = Defines.HomeControllerName}, new {@class = "about"})</li>*@
                <li><a href="#S1" class="smoothScroll">О нас</a></li>
                <li>@Html.ActionLink("Контакты", "Contact", new {controller = Defines.HomeControllerName}, new {@class = "contacts"})</li>
                <li>@Html.ActionLink("Админ панель", Defines.IndexView, new {controller = "AdminPanel"}, new {@class = "admin"})</li>
                <li>
                    <div class="container">
                        <div class="row">
                            @*@using (Ajax.BeginForm("Found", null, new AjaxOptions {UpdateTargetId = "results", HttpMethod = "Get"}, new {@class = "search-form", action = "/home/Found"}))*@
                            <div class="search-form">
                                <div class="form-group has-feedback">
                                    <label for="search" class="sr-only">Поиск</label>
                                    @Html.TextBox("search", "", new { @class = "form-control", Name = "search", id = "search", placeholder = "Поиск" })
                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="splash">
    <div class="container" style="color: gray;">
        <h1 class="hd">художественная галерея</h1>
        <p class="lead logotype" style="font-size: 420%;"><span style="color: #BE4C39">B</span>el<span style="color: #BE4C39">A</span>rt
        </p>
    </div>
</div>
<div class="container body-content" id="results">
    @RenderBody()
    <hr/>

</div>
<div class="bAbout" id="S1" style="background-image: url('../Content/images/265795374.jpg'); color: white; font-size: 1.2em;  box-shadow: 0 0 35px rgba(0, 0, 0, .8);" data-speed="5" data-type="background">
    <div class="container">
        <div class="row">
            <div id="about" class="col-md-4">Художественная галерея ОДО “БелАрт” создана в 1992 году. Со дня основания которой руководство и управление осуществляет ди-ректор–Людмила Крапивная
ОДО “БелАрт” сочетает в себе художественный мага- зин, продающий произведе- ния современной живописи, графики, скульптуры более 150 профессиональных ху-дожников и народных мастеров из Беларуси и ряда стран СНГ; выставочную галерею, где за истекшее десятилетие прошло более трех десятков вернисажей белорусских и зарубежных художников; мастерскую, в которой по заказу изготавливаются все виды ху-дожественной продукции, оформляются работы.
Широко представлены все виды декоративно – прикладного искусства - керамика, соломка, лоза, резьба по дереву, гобелены, батик, сувенирные изде-лия из натуральной кожи, художественная ковка, бижутерия из полудрагоценных камней.
В галерее имеется большой выбор художествен-ных материалов, столярных изделий, а также буки-нистическая литература по искусству и архитек-туре.
На протяжении всего своего существования ОДО “БелАрт” также занимается культурно-просвети-тельской, информационной и консультативной дея-тельностью. </div>
            @*<script src="@Url.Content("~/Scripts/views/About.jsx")"></script>*@
            <div class="col-md-4"> И ещё какая либо инфа</div>
            <div class="col-md-4"> Art gallery “BelArt” was founded in 1992 year by its director Ludmila Krapivnaya.
                                    “BelArt” combines an art shop which sells modern painyings, graphics, sculpture of more then 150 profes-sional and folk artiats from Belarus and outside, an exi-bition gallery, where were carried out more than 30 per-sonal exibitions and art studio where you can make an order for all kinds of art prodution and desighn. Here you can find wide spectrum of decorative-applied art-works – cersmics, straw, twig, carwing by wood, tapes-try, souvenirs of natural skin, art forge, jewelry with natural stones.
                                    In the gallery there’s wide choice of artists materi-als,joiner’s works and also a literature about art and ar-chitecture.
                                    Since its foundation the art gallery “BelArt” takes up culture-educational, informational and consultative activity. </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">VK</div>
            <div class="col-md-4">FB</div>
        </div>
    </div>
</div>

    <div class="grid container body-content" id="images"></div>

    <script src="@Url.Content("~/Scripts/views/main.jsx")"></script>
<script src="@Url.Content("~/Scripts/views/Found.jsx")"></script>

    <a href="#albums" class="btn btn-info btn-lg smoothScroll">
        <span class="glyphicon glyphicon-arrow-up"></span> Up
    </a>

<footer class="footer">
    <div class="container">
        <p class="text-muted">&copy; @DateTime.Now.Year - ramzzzay@gmail.com</p>
    </div>
</footer>
    <script>
    $(function() {
        $("img.lazy").lazyload({
            effect: "fadeIn"
        });
    });

    $('.smoothScroll').click(function(event) {
        event.preventDefault();
        var href = $(this).attr('href');
        var target = $(href);
        var top = target.offset().top;
        var bottom = $(window).scrollTop() + $(window).height();
        $('html, body').animate({
            scrollTop: top
        }, 1500);
        //$('html, body').animate({
        //    scrollTop: bottom
        //}, 1000);
    });
    </script>
@*@Scripts.Render("~/bundles/galmagic")*@
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/magic")
@RenderSection("scripts", false)
@Html.Partial("_GoogleAnalytics")
</body>
</html>