@using GalleryMVC_With_Auth.Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Галерея БелАрт (Брест)</title>

    @Styles.Render("~/Content/styles")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body id="home">
<div class="navbar navbar-inverse navbar-fixed-top navbar-transparent">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("БелАрт", Defines.IndexView, Defines.HomeControllerName, null, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Домой", Defines.IndexView, new {controller = Defines.HomeControllerName}, new {@class = "home"})</li>
                <li>@Html.ActionLink("О нас", "About", new {controller = Defines.HomeControllerName}, new {@class = "about"})</li>
                <li>@Html.ActionLink("Контакты", "Contact", new {controller = Defines.HomeControllerName}, new {@class = "contacts"})</li>
                <li>@Html.ActionLink("Админ панель", Defines.IndexView, new {controller = "AdminPanel"}, new {@class = "admin"})</li>
                <li>
                    <div class="container">
                        <div class="row">
                            @using (Html.BeginForm("Found", Defines.HomeControllerName, FormMethod.Get, new {@class = "search-form"}))
                            {
                                <div class="form-group has-feedback">
                                    <label for="search" class="sr-only">Поиск</label>
                                    @Html.TextBox("search", "", new {@class = "form-control", Name = "search", id = "search", placeholder = "Поиск"})
                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                </div>
                            }
                        </div>
                    </div>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="splash">
    <div class="container" style="color: gray;">
        <h1>Художественная галерея</h1>
        <p class="lead" style="font-size: 420%">"Беларт"</p>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>

</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">&copy; @DateTime.Now.Year - ramzzzay@gmail.com</p>
    </div>
</footer>

@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/magic")
@RenderSection("scripts", false)
@Html.Partial("_GoogleAnalytics")
</body>
</html>