@using GalleryMVC_With_Auth.Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='yandex-verification' content='5f6e3bf559dea11f'/>
    <meta name="keywords" content="Художественная галерея Беларт, Художественная галерея Брест, галерея Брест, галерея Беларт Брест, купить, картину, живопись, натюрморт, графика, акварель, офорт, литография, линогравюра, 
батик, керамика, произведения, декоративно-прикладное искусство, багетная, мастерская, рамка">
    <meta name="description" content="Художественная галерея Беларт. Купить картину в Бресте. Купить картину, живопись, натюрморт, графику, акварель, офорт, 
литографию, линогравюру, батик, керамику, произведения декоративно-прикладного искусства. Багетная мастерская. Багетные рамки. Деревянный и пластиковый 
багет.">
    <!-- FB -->
    <meta property="og:title" content="БелАрт галерея Брест"/>
    <meta property="og:url" content="http://belart-brest.by/"/>
    <meta property="og:image" content=""/>
    <meta property="og:description" content="Галерея БелАрт в Бресте"/>
    <meta property="og:site_name" content="http://belart-brest.by/"/>
    <!-- FB End-->

    <!-- VK -->
    <meta property="vk:title" content="БелАрт галерея Брест"/>
    <meta property="vk:url" content="http://belart-brest.by/"/>
    <meta property="vk:image" content=""/>
    <meta property="vk:description" content="Галерея БелАрт в Бресте"/>
    <!-- VK End -->

    <title>Галерея БелАрт Брест</title>


    @Styles.RenderFormat(@"<link href="" {0}"" lazyload rel=""stylesheet"">", "~/Content/styles")
    @Scripts.RenderFormat(@"<script src="" {0}"" async></script>", "~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
</head>
<body id="home">
<div class="navbar navbar-inverse navbar-fixed-top navbar-transparent">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("BA", Defines.IndexView, Defines.HomeControllerName, null, new {@class = "navbar-brand logotypeM", style = "color: white"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Главная", Defines.IndexView, new {controller = Defines.HomeControllerName}, new {@class = "home"})</li>
                <li>@Html.ActionLink("О нас", "About", new {controller = Defines.HomeControllerName}, new {@class = "about"})</li>
                <li>@Html.ActionLink("Контакты", "Contact", new {controller = Defines.HomeControllerName}, new {@class = "contacts"})</li>
                <li>@Html.ActionLink("Админ панель", Defines.IndexView, new {controller = "AdminPanel"}, new {@class = "admin"})</li>
                <li>
                    <div class="container">
                        <div class="row">
                            @*@using (Ajax.BeginForm("Found", null, new AjaxOptions {UpdateTargetId = "results", HttpMethod = "Get"}, new {@class = "search-form", action = "/home/Found"}))*@
                            @using (Html.BeginForm("Found", Defines.HomeControllerName, FormMethod.Get, new {@class = "search-form"}))

                            {
                                <div class="form-group has-feedback">
                                    <label for="search" class="sr-only">Поиск</label>
                                    @Html.TextBox("search", "", new {@class = "form-control", Name = "search", id = "search", placeholder = "Поиск"})
                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                </div>
                            }
                        </div>
                    </div>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="splash">
    <div class="container" style="color: gray;">
        <h1 class="hd">художественная галерея</h1>
        <p class="lead logotype" style="font-size: 420%;"><span style="color: #BE4C39">B</span>el<span style="color: #BE4C39">A</span>rt
        </p>
    </div>
</div>
<div class="container body-content" id="results">
    @RenderBody()
    <hr/>

</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">&copy; @DateTime.Now.Year - ramzzzay@gmail.com</p>
    </div>
</footer>
@*@Scripts.Render("~/bundles/galmagic")*@
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/magic")
@RenderSection("scripts", false)
@Html.Partial("_GoogleAnalytics")
</body>
</html>